<div class="card" >
  <div class="card-header">Liste des Parcours</div>
  <div class="card-body">
    <table class="table table-stripped">
      <thead>
      <th>Nom</th>
      <th>description</th>
      <th>Action</th>
      </thead>
      <tbody>
      <tr  *ngFor="let p of parcoursList;index as i ">
        <td>{{p.libelle}}</td>
        <td>{{p.description }}</td>
        <td  >
          <button class="btn  btn-sm btn-outline-primary  fa fa-eye" (click)="afficheCours(p)"></button>
          <button class="btn  btn-sm btn-outline-warning "><i class="fa fa-edit"></i></button>
          <button class="btn  btn-sm btn-outline-danger btn-trash" (click)="deleteParcours(p)"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <button class="btn  btn-outline-primary btn-block" (click)="open(content)">Ajouter un nouveau parcours</button>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">ajout parcours</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form">
      <div class="form-group">
        <label>reference</label>
        <input type="text" class="form-control" [(ngModel)]="parcours.ref">
      </div>
      <div class="form-group">
        <label>libelle</label>
        <input type="text" class="form-control" [(ngModel)]="parcours.libelle">
      </div>
      <div class="form-group">
        <label>description</label>
        <input type="text" class="form-control" [(ngModel)]="parcours.description">
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="save()" >Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">close</button>
  </div>
</ng-template>
