<div class="col-md-8 mt-lg-5"  style="margin-left: 180px;">
  <div class="card">
    <div class="card-header" style="background-color: powderblue">Quiz Grammar</div>
    <div class="card-body" id="quiz">

      <div class="start" id="start">
        <output>Choose the quiz</output><br>
        <form class="quiz-radio" id="quiz-radio">
          <div *ngFor="let q of quizs">
            <input  type="radio" id="id-quiz" name="rep-radio" value="{{q.lib}}">
            <label>{{q.lib}}</label><br>
          </div>
        </form>
        <input type="button" value="Start" (click)="answer()" style="background-color: lightcyan">
      </div>
      <div class="question" id="question">
        <output>{{question.numero}} - {{question.libelle}}</output>

        <form class="reponse-radio" id="reponse-radio">
          <div *ngFor="let r of reponses">
            <input (change)="getAnswerRadio($event,r)" type="radio" id="id-radio" name="rep-radio" value="{{r.lib}}" >
            <label>{{r.lib}}</label><br>
          </div>
          <input type="button" value="Check" (click)="check()" style="background-color: lightcyan">
        </form>

        <form class="reponse-checkbox" id="reponse-checkbox">
          <div *ngFor="let r of reponses">
            <input (change)="getAnswerCheckbox($event,r)" type="checkbox" id="id-checkbox" name="rep-checkbox" value="{{r.lib}}" >
            <label>{{r.lib}}</label><br>
          </div>
          <input type="button" value="Check" (click)="check()" style="background-color: lightcyan">
        </form>

        <form class="reponse-text" id="reponse-text">
          <label>Your answer :    </label>
          <input #answerQuestion type="text" id="id-text" name="rep-text">
          <input type="button"  value="Check" (click)="checkInput(answerQuestion.value)" style="background-color: lightcyan">
        </form>
      </div>
    </div>
    <div class="card-body2" id="finish">
      <output>You finish this quiz</output><br>
      <output >Your note is = {{this.quizEtudiant.note}}</output>
    </div>
    <div class="card-footer" style="background-color: powderblue"></div>
  </div>
</div>
