<div class="container-lg">
  <div class="form-group mt-lg-5">
    <label class="form-check-label form-inline mr-lg-n5 "> CategorieSection   :<input type="search" class="form-control-sm mr-lg-3 form-inline"  #libellecategorie [(ngModel)]="categoriesection.libelle"><button type="button" class="btn btn-outline-primary mr-lg-3" (click)="findCategorieSectionByLibelle(libellecategorie.value)" >Search</button></label>
  </div>
  <div class="card table-responsive" >
    <div class="card-header" style="background-color: lightcyan">Liste des CategorieSection</div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
        <th>Numero Order</th>
        <th>Reference</th>
        <th>Libelle</th>
        <th>SuperCategorieSection</th>
        </thead>
        <tbody>
        <tr *ngFor="let c of categoriesectionList">
          <td>{{c.numeroOrder}}</td>
          <td>{{c.ref}}</td>
          <td>{{c.libelle}}</td>
          <td>{{c.superCategorieSection.libelle}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
