<div class="card" >
  <div class="card-header">Liste des cours</div>
  <div class="card-body">
    <table class="table table-stripped">
      <thead>
      <th>Nom</th>
      <th>description</th>
      <th>Action</th>
      </thead>
      <tbody>
      <tr  *ngFor="let c of coursList ; index as i">
        <td>{{c.libelle}}</td>
        <td>{{c.description }}</td>
        <td >
          <button class="btn  btn-sm btn-outline-info btn-plus " (click)="afficheSecList(c)"><i class="fa fa-eye"></i></button>
          <button class="btn  btn-sm btn-outline-warning "><i class="fa fa-edit"></i></button>
          <button class="btn  btn-sm btn-outline-danger btn-trash "(click)="deleteCours(c)"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <button class="btn  btn-outline-primary btn-block" (click)="open(content)">Ajouter un nouveau cours</button>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">ajout cours</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form">
      <div class="form-group">
        <label>Parcours Reference</label>
        <input type="text" class="form-control" [(ngModel)]=" cours.parcours.ref">
      </div>
      <div class="form-group">
        <label>reference</label>
        <input type="text" class="form-control" [(ngModel)]="cours.ref">
      </div>
      <div class="form-group">
        <label>libelle</label>
        <input type="text" class="form-control" [(ngModel)]="cours.libelle">
      </div>
      <div class="form-group">
        <label>detail</label>
        <input type="text" class="form-control" [(ngModel)]="cours.description">
      </div>
      <div class="form-group">
        <label>url image</label>
        <input type="texte" class="form-control" [(ngModel)]="cours.image">
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="savecours()" >Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">close</button>
  </div>
</ng-template>



