<div class="card mt-lg-5" >
  <div class="card-header" style="background-color: powderblue">Liste des sections</div>
  <div class="card-body">

    <table class="table  table-responsive table-hover">
      <thead>
      <th>categorieSection</th>
      <th>Libelle</th>
      <th>Action</th>
      </thead>
      <tbody>
      <tr *ngFor="let s of sectionList; index as i">
        <td>{{s.categorieSection.libelle}}</td>
        <td>{{s.libelle}}</td>
        <td>
          <button class="btn  btn-sm btn-outline-info btn-plus " (click)="open(list)"><i class="fa fa-eye"></i></button>
          <button class="btn  btn-sm btn-outline-warning " (click)="open(contentsection)" (click)="updateSection(i,s)"><i class="fa fa-edit"></i></button>
          <button class="btn  btn-sm btn-outline-danger btn-trash "(click)="deleteSection(s)"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer" style="background-color: powderblue">
    <button class="btn btn-outline-light btn-info mr-lg-4" (click)="open(contentsection)">Add section</button>
  </div>
</div>

<ng-template #contentsection let-c="close" let-d="dismiss">
  <div class="modal-header" style="background-color: lightcyan">
    <h4 class="modal-title" >Ajout d'une section</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="background-color: lightcyan">
    <div class="form">
      <div class="form-group">
        <label class="primaryLab">Cours reference</label><br>
        <select type="text" class="btn btn-block btn-outline-light form-control" name="fieldName" style="background-color: lightblue" name="Parcours" (click)="findAllCours()" [(ngModel)]="section.cours.ref" >
          <option  selected="selected" *ngFor="let c of coursList3"  [ngValue]="c.ref"> {{c.libelle}}</option>
        </select>

      </div>
      <div class="form-group">
        <label class="primaryLab">categorieSection</label>
        <select type="text" class="btn btn-block btn-outline-light " name="fieldName" style="background-color: lightblue" name="Parcours" (click)="findAllCategorieSection()" [(ngModel)]="section.categorieSection.ref" >
          <option  selected="selected" *ngFor="let c of categoriesectionList "  [ngValue]="c.ref"> {{c.libelle}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Reference</label>
        <input type="text" class="form-control text-center" placeholder="Reference" [(ngModel)]="section.ref">
      </div>
      <div class="form-group">
        <label>Libelle</label>
        <input type="text" class="form-control text-center" placeholder="Libelle" [(ngModel)]="section.libelle">
      </div>
      <div class="form-group">
        <label>Question</label>
        <input type="text" class="form-control text-center" placeholder="Question" [(ngModel)]="section.questions">
      </div>
      <div class="form-group">
        <label>Url Image</label>
        <input type="text" class="form-control text-center" placeholder="Url Image" [(ngModel)]="section.urlimage">
      </div>
      <div class="form-group">
        <label>Url Video</label>
        <input type="text" class="form-control text-center" placeholder="Url Video" [(ngModel)]="section.urlvideo">
      </div>
      <div class="form-group">
        <label>Contenu</label>
        <textarea type="text" class="form-control text-center" placeholder="Contenu" rows="" [(ngModel)]="section.contenu"></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer" style="background-color: lightcyan">
    <button type="button" class="btn btn-outline-light btn-dark" (click)="savesection()" >Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">close</button>
  </div>

</ng-template>
<ng-template #list let-c="close" let-d="dismiss">
    <div class="modal-header card-header" style="background-color: lightcyan">information Section <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> </div>
    <div class="modal-body" >

      <table class="table table-striped table-bordered  ">
        <tr *ngFor="let s of sectionList; index as i">
          <td>Reference</td>
          <td>{{s.ref}}</td>
        </tr>
        <tr *ngFor="let s of sectionList; index as i">
          <td>contenu</td>
          <td>{{s.contenu}}</td></tr>
        <tr *ngFor="let s of sectionList; index as i">
          <td>questions</td>
          <td>{{s.questions}}</td></tr>
        <tr *ngFor="let s of sectionList; index as i">
          <td>indication Prof</td>
          <td>{{s.indicationProf}}</td></tr>
        <tr *ngFor="let s of sectionList; index as i">
          <td>url image</td>
          <td>{{s.urlimage}}</td></tr>
        <tr *ngFor="let s of sectionList; index as i">
          <td>url image2</td>
          <td>{{s.urlimage2}}</td></tr>
        <tr *ngFor="let s of sectionList; index as i">
          <td>url image3</td>
          <td>{{s.urlimage3}}</td></tr>
        <tr *ngFor="let s of sectionList; index as i">
          <td>url video</td>
          <td>{{s.urlvideo}}</td></tr>
        <tr *ngFor="let s of sectionList; index as i">
          <td>cours </td>
          <td>{{s.cours.libelle}}</td></tr>
        <tr *ngFor="let s of sectionList; index as i">
          <td>categorieSection </td>
          <td>{{s.categorieSection.libelle}}</td></tr>
      </table>
    </div>
</ng-template>
