@media all and (min-width: 992px) {
  .navbar .dropdown-menu-end{ right:auto; left: 0;float: none;  }
  .navbar .nav-item .dropdown-menu{ float: none;  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
  .navbar .nav-item:hover .nav-link{ float: none;  color: black;  }
  .navbar .dropdown-menu.fade-down{float: none;  top:100%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
  .navbar .dropdown-menu.fade-up{float: none;  top:180%;  }
  .navbar .nav-item:hover .dropdown-menu{float: none;  transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}

