
  <div class="card  mt-lg-5" >
  <div class="card-header" style="background-color: powderblue">Liste des Parcours</div>
  <div class="card-body">
    <table class="table table-responsive table-hover">
      <thead>
      <th>Nom</th>
      <th>Action</th>
      </thead>
      <tbody>
      <tr  *ngFor="let p of parcoursList;index as i ">
        <td>{{p.libelle}}</td>
        <td  >
          <button class="btn  btn-sm btn-sm btn-outline-info btn-plus fa fa-eye" (click)="afficheCours(p)"></button>
          <button class="btn  btn-sm btn-outline-warning " (click)="open(content)" (click)="updateParcours(i,p)"><i class="fa fa-edit"></i></button>
          <button class="btn  btn-sm btn-outline-danger btn-trash" (click)="deleteParcours(p)"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer" style="background-color: powderblue">
    <button class="btn  btn-outline-light btn-info btn-block" (click)="open(content)">Add parcours</button>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header" style="background-color: lightcyan">
    <h4 class="modal-title" id="modal-basic-title">ajout parcours</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="background-color: lightcyan">
    <div class="form">
      <div class="form-group">
        <label class="primaryLab"> centre </label>
        <select type="text" class="btn btn-block btn-outline-light form-control"  style="background-color: lightblue" name="Parcours" (click)="findAllCentre()" [(ngModel)]="parcours.centre.ref" >
          <option  selected="selected" *ngFor="let c of centreList"  [ngValue]="c.ref"> {{c.libelle}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Reference</label>
        <input type="text" class="form-control text-center" placeholder="Reference" [(ngModel)]="parcours.ref">
      </div>
      <div class="form-group">
        <label>Libelle</label>
        <input type="text" class="form-control text-center" placeholder="Libelle" [(ngModel)]="parcours.libelle">
      </div>
      <div class="form-group">
        <label>description</label>
        <input type="text" class="form-control text-center" placeholder="Description" [(ngModel)]="parcours.description">
      </div>

    </div>
  </div>
  <div class="modal-footer" style="background-color: lightcyan">
    <button type="button" class="btn btn-outline-light btn-dark" (click)="save()"  >Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">close</button>
  </div>
</ng-template>


